*{
    color: cyan;
    font-family: 'arial', Times, Serif;

}

body{
    background:url(1.jpg);

}

.form{
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    height: 500px;
    width: 400px;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    background-color: rgba(60, 58, 58. 0.41);
    box-shadow: inset -7px -7px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.form h1{
    font-size: 3rem;
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    margin: 60px;
}

.box{
    padding: 12px;
    margin: 15px;
    width: 65%;
    background-color: rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: inset -4x -4x rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1rem;
}

#submit{
    color: rgba(255, 255, 255);
    padding: 12px 25px ;
    margin-top: 40px;
    width: 50%;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
    font-size: 1rem;
}

#submit:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    color: white

}
::placeholder{
    color: white;
    opacity: 0.7;
}